* {
  color: black;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
}

body {
  background-color: white;
}

/*MARK HEADER*/

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  background-color: black;
  border: 10px solid black;
}

.navigation {
  display: flex;
  gap: 20px;
}
.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 10px;
}

.navigation-header a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

#main-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.review-section {
  flex-basis: 60%;
  flex-grow: 0;
}

.review-section img {
  max-width: 100%;
  max-height: 90%;
  border-radius: 4px;
  border: 6px solid black;
}

.message-us {
  flex-basis: 40%;
  flex-grow: 0;
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  padding: 10px;
}

.input-message-us {
  display: flex;
  flex-direction: column;
}

button {
  align-items: center;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  height: 20px;
  width: 10rem;
  color: white;
  background-color: black;
  text-align: center;
  justify-content: center;
}

#name-input {
  background-color: white;
  border: 2px solid #1e3962;
  border-radius: 8px;
}

#email-input {
  background-color: white;
  border: 2px solid #1e3962;
  border-radius: 8px;
}

.image-lucu {
  max-width: 75%;
  max-height: 40%;
  border-radius: 4px;
}

/* Ukuran HP */
@media only screen and (max-width: 576px) {
  .navigation-header {
    flex-direction: row;
    align-items: stretch;
  }

  .navigation {
    flex-direction: row;
    gap: 10px;
  }

  .review-section h5 {
    text-align: center;
  }

  #main-section {
    flex-direction: column;
    gap: 20px;
  }

  .review-section,
  .message-us {
    flex-basis: 100%;
  }

  .review-section img {
    max-width: 95%;
    max-height: 80%;
    margin-left: 7px;
  }
}

/* Ukuran Tablet */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation-header {
    flex-direction: row;
    align-items: stretch;
  }
  
  .review-section h5 {
    text-align: center;
  }

  .navigation {
    flex-direction: row;
    gap: 10px;
  }

  #main-section {
    flex-direction: column;
    gap: 20px;
  }

  .review-section,
  .message-us {
    flex-basis: 100%;
  }
}

/* Ukuran PC */
@media only screen and (min-width: 769px) {
  .navigation-header {
    flex-direction: row;
    align-items: center;
  }

  .navigation {
    flex-direction: row;
    gap: 20px;
  }

  #main-section {
    flex-direction: row;
    gap: 30px;
  }

  .review-section {
    flex-basis: 60%;
  }

  .message-us {
    flex-basis: 40%;
  }
}
